* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #ffffff;
  color: #111;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
}

.navbar a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
}

/* HERO */
.hero {
  text-align: center;
  padding: 80px 20px 50px;
}

.hero h1 {
  font-size: 42px;
  font-weight: 700;
}

.hero p {
  margin: 15px 0 30px;
  color: #666;
}

/* BUTTONS */
.buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.btn {
  padding: 12px 24px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  transition: 0.3s;
}

.github-btn {
  background: #111;
  color: white;
}

.learn-btn {
  background: #e5e7eb;
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

/* FEATURES */
.features {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 60px 20px;
}

.card {
  width: 260px;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 15px 35px rgba(0,0,0,0.08);
  opacity: 0;
  transform: translateY(20px);
}

.icon {
  font-size: 40px;
  margin-bottom: 10px;
}

.card h3 {
  margin-bottom: 8px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .features {
    flex-direction: column;
    align-items: center;
  }
}